select,#totnum{
	width: 100%;
	height: 40px;
	font-size: 48;

}
body{
	margin: 0px;
	border: 0px;
}
#main_btn_text{
	margin-bottom: 4px: 
	font-size: 48px;
}
#index_body{
	background-color: #4db6ac;

}
#loginth{
	font-size:24px;
}
#loginform{
	/*width:auto;
	margin-left: auto;
	margin-right: auto;*/
	margin-top: 50px;
}
#mainbtn{
	position:absolute;
	bottom:30px;
	right:30px;
	text-align: center;
	vertical-align: middle;
	line-height: 56px;
	padding-bottom:5px;

	/*width: 200px;
	height:50px;*/

}
body {
font-family: 'Roboto', sans-serif;

}
#headindex1{
	margin-top:50px;
	font-size: 48px;
	line-height: 56px;
}
#headindex2{
	font-size: 24px;
	line-height: 48px;
}
#heading_container{
font-family: 'Roboto', sans-serif;
font-weight: 100;

	color: white;
	text-align: center;
	background-color: #4db6ac;
	width: 100%;
	height: 100%;
}
#success{
	color: white;
	text-align: center;
}
.navbar1{
	 direction: ltr;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;

}


#rollnumhead{
	font-size: 24px;

}
#seat{
	margin: 10px;
	text-align: center;
	/**/
}
#form1{
	margin-top:50px;
}
.rollbtn{
	margin: 2px!important;
	height: 50px !important;
	width:50px !important;
	color: white;
}
#finish{
	visibility:hidden;
	width: 100%;
	height:50px;
	margin-left: auto;
	margin-right: auto;
	

}
#head1{
	visibility: hidden;
}

#mainbody{
	margin-left:0px;
}
#showroll{
